{{!-- BEGIN-SNIPPET block-invocation-hbs
<MyTable @rows={{this.myData}}>

  {{#each @rows as |row|}}
    <MyTable:Rows @columns=>
  {{/each}}

</MyTable:Rows>
END-SNIPPET --}}

{{!-- BEGIN-SNIPPET block-hbs
<Table>
  <tbody>
    {{yield this.myComputedData}}
  </tbody>
</Table>
END-SNIPPET --}}

<h2>Simple block Component</h2>

<article>

  <section>
    <h3>How to use it</h3>
    <Highlight @name="block-invocation-hbs" />
  </section>

  <section>
    <h3>How to do it</h3>
    <Highlight @name="block-hbs" />
  </section>



  <section>
  <h3><Icon @type="check" /> When to use it</h3>
  <p>
    <ul>
      <li>For revealing only some parts of the component</li>
      <li>To improve readability and customizations</li>
      <li>For smaller or medium sized components</li>
    </ul>
  </p>
  </section>

</article>