html {
  height: 100vh;
}

body {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/* Top navigation */
header {
  display: flex;
  padding: 1em 2em;
  border-bottom: 1px solid var(--border-color);
  gap: 1em;
  /* position: sticky; */
  position: relative;
  top: 0;
  background-color: var(--bg-color);
}

header > nav {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

header > div {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header > div button {
  font-size: 1.25em;
  border-radius: 100%;
  padding: .5em;
  color: light-dark(#666, var(--blue-lighter));
}

header > div button:hover {
  background-color: light-dark(var(--yellow), var(--blue-light));
  color: light-dark(var(--strong-red), var(--dark-torqoise));
}

/* Content */
.content-wrapper {
  flex: 1;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

aside {
  padding: 1.75em;
  border-right: 1px solid var(--border-color);
}

main {
  flex: 1;
  padding: 1.75em;
}

@media (min-width: 768px) {
	.content-wrapper {
    overflow: hidden;
    flex-direction: row;
	}

	main, aside {
    overflow-y: auto;
	}
}

/* Sidebar navigation */
aside nav a {
  color: light-dark(var(--blue-lighter), var(--blue-lighter));
}

.logo {
  font-size: 2.5em;
  line-height: 0.75;
  font-weight: 800;
  margin-bottom: 0.1em;
  color: var(--lachs)
}
