<header>
  <span class="logo">&#x2291;</span>
  <nav>
    <ul>
      <li>
        <LinkTo @route="component-layouts">
          Component layouts
        </LinkTo>
      </li>
    </ul>
  </nav>
  <div>
    <Base::TopHeader::DarkModeSwitcher />
  </div>
</header>